* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.scene {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #01070a;
    display: flex;
    /* overflow: hidden; */
}

.scene .rocket {
    animation: animate 0.2s ease infinite;
    position: absolute;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(2px);
    }
}

.scene .rocket::before {
    content: '';
    position: absolute;
    bottom: -182px;
    left: 55%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient(#00d0ff, transparent);
}

.scene .rocket::after {
    content: '';
    position: absolute;
    bottom: -184px;
    right: 50%;
    transform: translateX(500%);
    width: 10px;
    height: 200px;
    background: linear-gradient(#00d0ff, transparent);
    filter: blur(10s);
}

.scene i {
    position: absolute;
    top: -250px;
    background: rgba(255, 255, 255, 0.5);
    animation: animateStars linear infinite;
}

@keyframes animateStars {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}